body{
  background-image: url("https://image.ibb.co/i2XLmT/background2.jpg");
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
}

.btn{
  background: pink;
  margin: 20px;
}

.add-btn{
  background: lightblue;
  width: 40px;
  height: 40px;
}
.app-title{
  text-align: center;
  color: lightblue;
  font-size: 70px;
}
.container{
  width: 50%;
  height: 380px;
  margin: auto;
  border: 5px solid #bfab1e;
  border-radius: 25px;

}

.sub-div{
  padding: 30px;
  text-align: center;
  max-width: 500px;
  margin: auto;
}

.item-list{
  list-style: none;
}

.input-box{
  height: 30px;
  padding: 5px;
  margin: 5px;
  border-radius: 13px;
}